appdirs
sphinx==1.7.1
sphinxbootstrap4theme==0.5.0
sphinx_materialdesign_theme==0.1.7
sphinxcontrib-blockdiag==1.5.5
sphinxcontrib-actdiag==0.8.5
sphinxcontrib-nwdiag==0.9.5
sphinxcontrib-seqdiag==0.8.5
sphinxcontrib-plantuml==0.10